# Ignore any other raw/processed datasets
data/
*.csv
*.tsv
*.h5
*.zip
*.gz
*.tar
*.log
*.pdf
*.txt
*.png

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.soRUN/HNSCC/Deep/HEAD_NECK_DATA_TOP2_JOINED_BATCH_CORRECTED_CLEANED.csv
RUN/HNSCC/Deep/HEAD_NECK_DATA_TOP2_JOINED_BATCH_CORRECTED_CLEANED.tsv
.Rproj.user

# For R codes
.Rhistory
.RData
.Rproj.user/