# Ignore any other raw/processed datasets
data/
*.csv
*.tsv
*.h5
*.zip
*.gz
*.tar
*.log
*.pdf
*.txt
*.png
*.svg
*.rnk
*.log
*.gmt
*.ai
*.tif
*.json
*.svg
*.rnk
*.log
*.gmt
*.xlsx
*.docx
*.jpg

# But keep these two
!deep_neural_profiling_undergrad_thesis.pdf
!poster.png
!BMU_PROJECT\IRB_MOU\IRB_Application_FORM_17_08_2025.pdf

# EXCEPTION: Track this PNG file
!figure/Readme_figure/poster-1final_jpd_th_print.png
!writing/v_6_g/JPD_4th_project_report_7_7_25_mirror_v3_g.pdf
# 2nd readme
!BMU_PROJECT/design/Project_Design_Cancer_PG_19_Apr_25.png
!BMU_PROJECT/design/Bangladesh_Medical_University_Logo.png
!BMU_PROJECT/design/Shahjalal_University_of_Science_and_Technology_logo.png
!BMU_PROJECT/design/NICRH_logo.png

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.soRUN/HNSCC/Deep/HEAD_NECK_DATA_TOP2_JOINED_BATCH_CORRECTED_CLEANED.csv
RUN/HNSCC/Deep/HEAD_NECK_DATA_TOP2_JOINED_BATCH_CORRECTED_CLEANED.tsv
.Rproj.user

# For R codes
.Rhistory
.RData
.Rproj.user/