# Ignore any other raw/processed datasets
data/
*.csv
*.tsv
*.h5
*.zip
*.gz
*.tar
*.log
*.pdf
*.txt
*.png
*.svg
*.rnk
*.log
*.gmt
*.ai
*.tif
*.json
*.svg
*.rnk
*.log
*.gmt
*.xlsx
*.docx
*.jpg

# EXCEPTION: Track this PNG file
!figure/Readme_figure/poster-1final_jpd_th_print.png
!writing/v_6_g/JPD_4th_project_report_7_7_25_mirror_v3_g.pdf


# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.soRUN/HNSCC/Deep/HEAD_NECK_DATA_TOP2_JOINED_BATCH_CORRECTED_CLEANED.csv
RUN/HNSCC/Deep/HEAD_NECK_DATA_TOP2_JOINED_BATCH_CORRECTED_CLEANED.tsv
.Rproj.user

# For R codes
.Rhistory
.RData
.Rproj.user/